  <div class="container">
    <div id="wrapper">
      <div id="header">
        <h1 id="headline">News Scraper</h1>
        <h5 id="edition">The Hacker News Editon</h5>
      </div>
      <br>
        <div id="articles"></div>
        <div id="notes"></div>
      </div>
    </div>
  </div>